.nav-bar-img {
  max-height: 70px;
}

.card-no {
  position: absolute;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: blue;
  color: #FFF;
  text-align: center;
  top: -12px;
  right: 32px;
}